<!-- To Do MVC Project -->
<head>
<meta charset="utf-8"/>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue"></script>
<link :href="changeStyle[currentLocale]" rel="stylesheet" />
</head>
<body>
<section class="todoapp">
    <select v-model="currentLocale">
        <option v-for="locale in locales" v-bind:value="locale.id" @click="changeStyle(currentLocale)">{{locale.name}}</option>
    </select>
    <header class="header">
        <h1>{{ h1Text[currentLocale]}}</h1>
        <input class="new-todo"
                autofocus autocomplete="off"
                :placeholder="placeholderText[currentLocale]"
                v-model="newTodo"
                @keyup.enter="addTodo">
    </header>
    <section class="main">
        <input id="toggle-all" class="toggle-all" type="checkbox" v-model="allDone">
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li class="todo" v-for="todo in filteredTodos" :class="{completed:todo.completed, editing: todo == editingTodo}">
                <div class="view">
                    <input class="toggle" type="checkbox" v-model="todo.completed">
                    <label @dblclick="editTodo(todo);"> {{todo.title}} </label>
                    <button class="destroy" @click="deleteTodo(todo)"></button>
                </div>
                <input class="edit" type="text" v-model="todo.title" @keyup.enter="doneEditing()" @keyup.esc="cancelEditing()">
            </li>
        </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count" v-html="returnReminingMessage(currentLocale)">
        </span>
        <ul class="filters">
            <li><a href="#" @click.prevent="visibility='all'" :class="{selected: visibility == 'all'}">{{ allText[currentLocale]}}</a></li>
            <li><a href="#" @click.prevent="visibility='active'" :class="{ selected: visibility == 'active' }">{{ activeText[currentLocale]}}</a></li>
            <li><a href="#" @click.prevent="visibility='completed'" :class="{ selected: visibility == 'completed' }" >{{ completedText[currentLocale]}}</a></li>
        </ul>
        <button class="clear-completed" @click="removeCompleted">
             {{ clearText[currentLocale]}}
        </button>
    </footer>
</section>
<script type="text/javascript">
    var filters = {
        all : function(todos){
            return todos ;
        },
        active : function(todos){
            return todos.filter(function(todo){
                return !todo.completed 
            });
        },
        completed : function(todos){
            return todos.filter(function(todo){
                return todo.completed 
            });
        },

    }
    var todos_storage = {
        fetch_todos: function(){
           var todos = JSON.parse( localStorage.getItem("todos") || '[]');
           return todos ;
        },
        save_todos: function(todos){
           localStorage.setItem("todos" , JSON.stringify(todos));
        }
    }

    new Vue({
       
        'el' : '.todoapp ' , 
        data : {
            newTodo : '' ,
            editingTodo : null ,
            oldEditingTodoTitle : null ,
            visibility : 'all' ,
            todos : todos_storage.fetch_todos(),
            currentLocale:'en',
            locales: [ {id: 'en', name: 'English'}, {id: 'ar', name: 'عربي'}],
            h1Text : { en: 'Todos' , ar:'مهامي'},
            clearText :{ en: 'Clear completed' , ar:'حذف المهام المكتملة'},
            placeholderText :{ en: 'What needs to be done?' , ar:'ما هي المهام الذي تريد تنفيدها ؟'},
            allText : { en: 'All' , ar:'الكل'},
            activeText : { en: 'Active' , ar:'المهام النشطة'},
            completedText : { en: 'Completed' , ar:'المهام المنجزة'},
            changeStyle : { en: 'enStyle.css' , ar:'arStyle.css' }
        },
        computed: {
            filteredTodos: function () {
                return filters[this.visibility](this.todos)
            },
            remaining: function () {
                return filters.active(this.todos).length
            },
            remainingTextEn: function () {
                if (filters.active(this.todos).length > 1 )  
                    return " items left ";
                else 
                    return " item left ";
            },
            remainingTextAr: function () {
                if (filters.active(this.todos).length > 1 )  
                    return "عدد المهام الغير منجزة : ";
                else 
                    return " عدد المهام الغير منجزة : ";
                
            },
            allDone: {
                get: function () {
                return this.remaining === 0
             },
                set: function (value) {
                this.todos.forEach(function (todo) {
                todo.completed = value
            })
        }
      },
        },
        methods : {
            deleteTodo : function(todo){
                this.todos.splice(this.todos.indexOf(todo), 1) ;
            } ,
            addTodo : function(){
                if( this.newTodo == '' || this.newTodo == ' ' )
                 return;
                this.todos.push({
                    'title' : this.newTodo,
                    'completed' : false ,
                });   
                this.newTodo = ''; 
            } , 
            removeCompleted : function(){
                this.todos = filters.active(this.todos);
            },
            editTodo : function(todo){
                this.editingTodo = todo;
                this.oldEditingTodoTitle = todo.title ;

            },
            doneEditing : function(){
                if (this.editingTodo.title == '')
                this.deleteTodo(this.editingTodo);
                else
                this.editingTodo = null ;  
            },
            cancelEditing : function(){
                this.editingTodo.title = this.oldEditingTodoTitle ; 
                this.editingTodo = null ; 
            },
            returnReminingMessage : function(currentLocale){
                if(currentLocale == 'en')
                    return '<strong>' +  this.remaining + '</strong>' + this.remainingTextEn ;
                else 
                    return  this.remainingTextAr + '<strong>' + this.remaining + '</strong>' ;
            },
            changeStyle : function(currentLocale){
                if(currentLocale == 'en')
                    return 'enStyle.css';
                else 
                    return 'arStyle.css';
            }
        },
        watch : {
            todos : {
                handler: function(todos){
                    todos_storage.save_todos(todos);
                },
                deep : true
            }
        }
    });

</script>
</body>