<!-- To Do MVC Project -->
<script type="text/javascript" src="https://unpkg.com/vue"></script>
<link href="https://unpkg.com/todomvc-app-css@2.1.0/index.css" rel="stylesheet" />

<section class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <input class="new-todo"
        autofocus autocomplete="off"
        placeholder="What needs to be done?"
        v-model="newTodo"
        @keyup.enter="addTodo">
    </header>
    <section class="main">
        <ul class="todo-list">
            <li class="todo" v-for="todo in filteredTodos" :class="{completed:todo.completed}">
                <div class="view">
                    <input class="toggle" type="checkbox" v-model="todo.completed">
                    <label> {{todo.title}} </label>
                    <button class="destroy" @click="deleteTodo(todo)"></button>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
            <strong>1</strong> todos left
        </span>
        <ul class="filters">
            <li><a href="#" @click.prevent="visibility='all'" :class="{selected: visibility == 'all'}">All</a></li>
            <li><a href="#" @click.prevent="visibility='active'" :class="{ selected: visibility == 'active' }">Active</a></li>
            <li><a href="#" @click.prevent="visibility='completed'" :class="{ selected: visibility == 'completed' }" >Completed</a></li>
        </ul>
        <button class="clear-completed" v-show="">
            Clear completed
        </button>
    </footer>
</section>
<script type="text/javascript">
    var filters = {
        all : function(todos){
            return todos ;
        },
        active : function(todos){
            return todos.filter(function(todo){
                return !todo.completed 
            });
        },
        completed : function(todos){
            return todos.filter(function(todo){
                return todo.completed 
            });
        },

    }
    new Vue({
        'el' : '.todoapp ' , 
        data : {
            newTodo : '' ,
            visibility : 'all' ,
            todos : [ {title:'eating' , completed : true },
             {title:'reading', completed : false}, ]
        },
        computed: {
            filteredTodos: function () {
                return filters[this.visibility](this.todos)
            },
        },
        methods : {
            deleteTodo : function(todo){
                this.todos.splice(this.todos.indexOf(todo), 1) ;
            } ,
            addTodo : function(){
                if( this.newTodo == '' || this.newTodo == ' ' )
                 return;
                this.todos.push({
                    'title' : this.newTodo,
                    'completed' : false ,
                });   
                this.newTodo = ''; 
            }
        }
    });
</script>